<%- include("partials/header.ejs") %>

    <body class="wrapper">
        <div class="contenido contenido_blog">
            <div class="section">
                <div>
                    <img src="/images/blogging.png" alt="blogging" />
                </div>
                <div>
                    <h1>Your Words Have Power</h1>
                    <p>
                        Welcome to our community of bloggers, where your words have the power
                        to connect, inspire, and transform. Here, we provide you with a safe
                        space to share your experiences, reflections, and knowledge with an
                        enthusiastic audience.
                    </p>
                </div>
            </div>
            <div class="section">
                <div>
                    <img src="/images/teclado.png" alt="teclado" />
                </div>
                <div>
                    <h1>A Platform to Express Your Ideas</h1>
                    <p>
                        Our objective is simple: to provide you with a platform where you can
                        express yourself and share your stories with the world. With our
                        website, you can create, edit, and delete blogs as you please. Whether
                        you want to write about your travels, your professional career, your
                        passions, or any other topic, this is the perfect place for you.
                    </p>
                </div>
            </div>
            <div class="section"></div>
            <div class="section">
                <div>
                    <img src="/images/comunidad.png" alt="comunidad" />
                </div>
                <div>
                    <h1>Start Your Journey with Us</h1>
                    <p>
                        If you're ready to share your stories and be part of a community
                        passionate about writing, join us. Here, you can not only create your
                        first blog but also read the experiences and stories of others. Find
                        inspiration, share your thoughts, and connect with others who, like
                        you, have something unique to say. Don't wait any longer—start your
                        journey with us and create your first blog today!
                    </p>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <%- include("partials/footer.ejs") %>
    </footer>